<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>
<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
<%= link_to 'Add permission', new_role_permission_path(@role) %>
